**/*.js
**/*.css
src/services/azure/**
**/*.svg
src/reportWebVItals.ts
src/react-app-env.d.ts
src/generators/**
src/serviceWorkerRegistration.native.js 
src/service-worker.js
src/serviceWorkerRegistration.js